data/
figures/
external_data/koenecke_2016_2017/fastq/
external_data/koenecke_2016_2017/rnaseq_quantifications/
dag.svg
.DS_Store
._*
*~
.Rhistory
*.log
*_cache/
*_files/
__pycache__/
.snakemake
env/*
scripts/.ipynb_checkpoints/
new_kaic/new_kaic_env/*
*.bam
*.bai
*.bw
*.gff
*.gtf
*.gtf.gz
*.gff.gz
*.fastq.gz
*.chain
*.hitile
multiqc*
*.html
fan-c/fan-c/*
fan-c/data/
fan-c/figures/
